<table class="table text-center">
  <thead class="thead">
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Precio</th>
      <th>Stock</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="tbody">
    <tr class="tr-lista" *ngFor="let product of products">
      <td>
        <img
          [src]="product.image"
          class="icon-list img-thumbnail"
          [alt]="product.type"
        />
      </td>
      <td [ngClass]="{ special: product.special }">{{ product.name }}</td>
      <td>{{ product.type }}</td>
      <td>{{ product.price | currency }}</td>
      <td>
        <span
          class="badge bg-danger"
          *ngIf="product.stock <= 0 && product.altstock <= 0"
          >Sin Stock</span
        >
        <span class="badge bg-success" *ngIf="product.altstock > 0">{{
          product.altstock
        }}</span>
        <span
          class="badge bg-warning text-dark"
          *ngIf="product.altstock <= 0 && product.stock > 0"
          >Se lleva todo</span
        >
      </td>
      <td class="td-botones">
        <app-input-integer [product]="product" *ngIf="product.stock > 1"> </app-input-integer>
      </td>
    </tr>
  </tbody>
</table>
