<table class="table">
  <thead class="thead">
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Precio</th>
      <th>Stock</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="tbody">
    <tr
      *ngFor="let product of products"
      [ngClass]="{ 'bg-light': product.special }"
    >
      <td>
        <img
          [src]="product.image"
          class="icon-list img-thumbnail"
          [alt]="product.type"
        />
      </td>
      <td>{{ product.name }}</td>
      <td>{{ product.type }}</td>
      <td>{{ product.price | currency }}</td>
      <td>
        <span class="badge bg-danger" *ngIf="product.stock<=0 && product.altstock<=0">Sin Stock</span>
        <span class="badge bg-success" *ngIf="product.altstock > 0">{{product.altstock}}</span>
        <span class="badge bg-warning text-dark" *ngIf="product.altstock <= 0 && product.stock>0">Se lleva todo</span>
      </td>
      <td class="td-botones">
        <button class="btn btn-outline-primary btn-sm" (click)="decreasequantityInput(product)">-</button
        ><input type="number" [(ngModel)]="product.quantityInput" (keyup)="onInputInQuantity($event,product)">
        <button class="btn btn-outline-primary btn-sm" (click)="upquantityInput(product)">+</button>
        <button class="btn btn-primary btn-sm button-agregar">Agregar</button>
      </td>
    </tr>
  </tbody>
</table>
