.icon-list {
  max-width: 60px;
}

.button-agregar {
  margin-left: 10px;
}

input[type="number"] {
  width: 50px;
  text-align: center;
  -moz-appearance: textfield; /* Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tr-lista{
vertical-align: middle;
}

.special {
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.2' height='100px' width='200px'><text x='20' y='20' fill='green' font-size='20'>Especial del día</text></svg>");
}