<table class="table">
  <thead class="thead">
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Precio</th>
      <th>Stock</th>
    </tr>
  </thead>
  <tbody class="tbody">
    <tr *ngFor="let product of products; let i = index">
        <img [src]=product.image class="icon-list img-thumbnail" alt="">
        <td>{{product.name}}</td>
        <td>{{product.type}}</td>
        <td>${{product.price}}</td>
        <td>{{product.stock}}</td>
    </tr>
  </tbody>
</table>
