.icon-list {
  max-width: 60px;
}

.tr-lista{
vertical-align: middle;
}

.special {
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.2' height='100px' width='200px'><text x='20' y='20' fill='green' font-size='20'>Especial del día</text></svg>");
}